$scroll-component-height: 48px;

.kw-pagination {
   position: relative;
   width: 100%;

   .kw-scroll-container {
      height: $scroll-component-height;
      overflow: hidden;
      position: relative;
      width: 100%;
      @include transition(all .3s);
      margin: 0 12px;

      > div {
         @include transition(all .3s);
      }

      @include device($mobile) {
         .ismobile & {
            -webkit-mask-image: none;
            mask: none;
            margin: 0;
         }
      }
   }

   .kw-scroll-inner {
      height: $scroll-component-height;
   }

   &:hover {
      .kw-scroll-left i, .kw-scroll-right i {
         opacity: 1;
      }
   }


   // Scroll arrows for desktop
   .kw-scroll-left, .kw-scroll-right {
      @include transition(all .3s);
      height: 100%;
      
      position: absolute;
      top: 0;
      width: 45px;
      z-index: 2;

      i {
         @include transition(all .3s);
         opacity: .3;
         cursor: pointer;
         font-size: 30px;
      }

      @include device(sm, max) {
         .ismobile & {
            display: none;
         }
      }
   }

   .kw-scroll-left {
      left: 12px;
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 10%, rgba(238, 238, 238, 0));
   }

   .kw-scroll-right {
      right: 12px;
      background: linear-gradient(to left, rgba(255, 255, 255, 1) 10%, rgba(238, 238, 238, 0));
   }

   // Scroller item
   .kw-page-link {
      $item-width: 100% / 5.6;
      width: $item-width;
      @include flex(0 0 $item-width);
   }

   // Scroller logo
   .kw-scroller-logo {
      @include flex(1 0 90px);
      max-width: 90px;
      min-width: 90px;
      width: 90px;

      .kw-custom-logo {
         height: 90px;
         width: 90px;
      }
   }

   @include device($mobile) {
      padding: 0;

      .ismobile & {
         .kw-scroll-inner {
            @include transform(translate3d(0, 0, 0) !important);
            overflow-x: scroll;
            overflow-y: hidden;

            // adding the class later because Safari
            &.kw-elastic-scroll {
               -webkit-overflow-scrolling: touch;
            }
         }
      }
   }
}
