// Common widget styles

%Kambi-border {
   @extend .KambiWidget-card-border-color !optional;
}

h3, h4 {
   @extend %Kambi-border !optional;
   border-width: 1px;
   line-height: 24px;
}

button {
   min-width: 60px;
}

h3 {
   font-size: 14px;
}

h4 {
   border-top-width: 0;
}

.kw-header {
   min-height: 64px;
}

.kw-header-text-container {
   @include calc(max-width, '100% - 62px');
}

.kw-header-logo {
   background-repeat: no-repeat;
   background-size: cover;
   height: 32px;
   margin-right: 12px;
   width: 32px;
}

// Title and tagline in header
.kw-header-title,
.kw-header-tagline {
   color: black;
   line-height: 16px;
   max-height: 16px;
   min-height: 16px;
}

.kw-header-title {
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
}

@media (max-width: 300px) {
   .kw-header-title {
      font-size: 15px;
   }
}

// Fixed height and styles for each row
.kw-teams {
   height: 44px;
   &:first-child {
      margin-top: 10px;
   }
   &:last-child {
      margin-bottom: 10px;
   }
}

.kw-team {
   font-size: 14px;
}

.kw-section-header {
   
   h4 > div:last-child {
      min-width: 60px;
   }
}

.ismobile {
   display: block;
}

.kw-footer {
   @extend %Kambi-border !optional;
   border-top-width: 0px;
   height: 48px;
   
   .kw-page-link {
      @include transition(.5s ease-out background-color);
      border-bottom: 0;
      border-left: 0;
      border-top: 0;
      padding: 0;
      
      &:last-child {
         border-right: 0;
      }
   }
}

// Changing the default styles in pagination items
.kw-page-link {
   font-size: 13px;
   position: relative;
   
   &.kw-active-page {
      background-color: transparent;
      border-bottom-color: $color-2-2-primary-background;
      border-bottom-style: solid;
      border-bottom-width: 3px;
      font-weight: bold;
      
      .kw-custom-border {
         bottom: -3px;
         height: 3px;
         left: 0;
         position: absolute;
         width: 100%;
      }
   }
   
}

@media (max-width: 300px) {
   .kw-page-link {
      font-size: 11px;
   }
}

@-webkit-keyframes fadeIn {
   from {
      opacity: 0;
   }
   
   to {
      opacity: 1;
   }
}

@-moz-keyframes fadeIn {
   from {
      opacity: 0;
   }
   
   to {
      opacity: 1;
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   
   to {
      opacity: 1;
   }
}

// Added a staggering animation
.anim-stagger {
   animation: fadeIn ease-in 1; /* make things invisible upon start */
   -moz-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -webkit-animation: fadeIn ease-in 1;
   animation-duration: .2s;
   -moz-animation-duration: .2s; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -webkit-animation-duration: .2s;
   opacity: 0;
   -webkit-animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
   
   &.anim-enter-active {
   }
}
