:local(.row) {
   height: 44px;
   cursor: pointer;

   :local(.flag) {
      line-height: 1;
      padding-right: 12px;
      width: 36px;

      img {
         width: 24px;
         height: 24px;
      }
   }

   :local(.country) {
      font-size: 14px;
   }

   :local(.button) {
      width: 80px;
      padding-left: 3px; // makes the space between outcome buttons 3px

      :local(.wrapper) {
         display: flex;
      }
   }
}
