:local(.general) {
   border-bottom: 1px #F5F5F5 solid;
}

:local(.row) {
   width: 50%;
}

:local(.button) {
   width: 88px;
}

:local(.country) {
   text-align: center;
}

:local(.flag) {
   line-height: 1;
   text-align: center;
}
