:local(.element) {
   font-weight: bold;
   width: 50px;
   text-align: center;
   margin: 0 auto;
}

:local(.elementSelected) {
   font-weight: bold;
   width: 50px;
   text-align: center;
   margin: 0 auto;
   border: red;
}

